div.max-width-limit {
  max-width: 600px;
}
form {
  margin-bottom: 20px;
  width: fit-content;
}
button {
  margin-left: 5px;
}
.countdown-container {
  width: 450px;
  .countdown-animation {
    height: 300px;
  }
  .countdown-label {
    font-family: 'Pacifico', cursive;
    font-weight: bold;
    font-size: 64px;
    margin-top: 70px;
  }
}
