<section class="mx-auto">
  <div class="row">
    <div class="col-6 text-left">
      <strong>{{ this.dateService.date | async | date:'longDate' }}</strong>
    </div>
    <div class="col-6 text-right">
      <strong>{{ this.dateService.date | async | date:'EEEE' }}</strong>
    </div>
  </div>
  <ul class="list-group text-left">
    <li class="list-group-item text-center" *ngIf="tasks.length == 0">
      <i class="text-muted">No Tasks</i>
    </li>

    <li [class]="{ 'list-group-item': true, 'edit-item': editTask === task }" *ngFor="let task of tasks">
      <div *ngIf="editTask !== task">
        <input type="checkbox" aria-label="Checkbox for following text input" [checked]="task.done === true ? 'checked' : null" (click)="toggle(task)" *ngIf="!task.deleted">
        <span [class]="task.done === true ? 'done' : null" *ngIf="!task.deleted">{{ task.note }}</span>
        <a class="link link-delete float-right" (click)="remove(task)" *ngIf="!task.deleted"><fa-icon [icon]="faTrash"></fa-icon></a>
        <a class="link link-edit float-right" (click)="edit(task)" *ngIf="!task.deleted"><fa-icon [icon]="faEdit"></fa-icon></a>
        <span *ngIf="task.deleted" class="float-right">Deleted. <a class="link link-undo" (click)="undo(task)">Undo</a></span>
      </div>
      <div *ngIf="editTask === task">
        <form class="form-inline" (ngSubmit)="update(task)" [formGroup]="formEdit">
          <label class="sr-only" for="edit-task">Edit Task</label>
          <input type="text" formControlName="note" class="form-control mb-2 mr-sm-2" id="edit-task" placeholder="Edit Task">
          <a class="link link-cancel float-right" (click)="edit(null)"><fa-icon [icon]="faTimes"></fa-icon></a>
          <a class="link link-save float-right" (click)="update(task)"><fa-icon [icon]="faCheck"></fa-icon></a>
        </form>
      </div>
    </li>

    <li class="list-group-item new-item">
      <form class="form-inline" (ngSubmit)="create()" [formGroup]="formNew">
        <label class="sr-only" for="new-task">New Task</label>
        <input type="text" formControlName="note" class="form-control mb-2 mr-sm-2" id="new-task" placeholder="New Task">
        <a class="link link-add"><fa-icon [icon]="faPlusCircle" (click)="create()"></fa-icon></a>
      </form>
    </li>
  </ul>
</section>
