<section class="mx-auto">
  <div class="row">
    <div class="col-6 text-left">
      <strong>{{ this.dateService.date | async | date:'longDate' }}</strong>
    </div>
    <div class="col-6 text-right">
      <strong>{{ this.dateService.date | async | date:'EEEE' }}</strong>
    </div>
  </div>
  <ul class="list-group text-left">
    <li class="list-group-item" *ngFor="let task of tasks">
      <input type="checkbox" aria-label="Checkbox for following text input">
      {{ task.note }}
      <button type="submit" class="btn btn-danger btn-sm float-right" (click)="remove(task)"><fa-icon [icon]="faTrash"></fa-icon></button>
    </li>

    <li class="list-group-item new-item">
      <form class="form-inline" (ngSubmit)="submit()" [formGroup]="form">
        <label class="sr-only" for="new-note">Name</label>
        <input type="text" formControlName="note" class="form-control mb-2 mr-sm-2" id="new-note" placeholder="New Note">
        <button type="submit" class="btn btn-success btn-sm"><fa-icon [icon]="faPlusCircle"></fa-icon></button>
      </form>
    </li>
  </ul>
</section>
