<div class="row">
  <div class="col-12">

    <div class="accordion mx-auto" id="profileAccordion">
      <div class="card">
        <div class="card-header" id="accountHeader">
          <h2 class="mb-0">
            <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#accountContent" aria-expanded="true" aria-controls="accountContent">
              Account
            </button>
          </h2>
        </div>
        <div id="accountContent" class="collapse show" aria-labelledby="accountHeader" data-parent="#profileAccordion">
          <div class="card-body">
            <app-profile-account></app-profile-account>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="passwordHeader">
          <h2 class="mb-0">
            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#passwordContent" aria-expanded="false" aria-controls="passwordContent">
              Password
            </button>
          </h2>
        </div>
        <div id="passwordContent" class="collapse" aria-labelledby="passwordHeader" data-parent="#profileAccordion">
          <div class="card-body">
            <app-profile-password></app-profile-password>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="displayHeader">
          <h2 class="mb-0">
            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#displayContent" aria-expanded="false" aria-controls="displayContent">
              Display
            </button>
          </h2>
        </div>
        <div id="displayContent" class="collapse" aria-labelledby="displayHeader" data-parent="#profileAccordion">
          <div class="card-body">
            <app-profile-display></app-profile-display>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
