/* https://www.cssscript.com/demo/animated-checkbox-radio-button-with-css3-and-font-awesome/ */

::-moz-selection {
  background: white;
}

::selection { background: white; }

@-webkit-keyframes
icon-beat {  0% {
  -webkit-transform: scale(2);
  -ms-transform: scale(2);
  transform: scale(2);
}
  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes
icon-beat {  0% {
  -webkit-transform: scale(2);
  -ms-transform: scale(2);
  transform: scale(2);
}
  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

label {
  position: relative;
  font-weight: normal;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  line-height: 1;
  margin-top: 0;
}

label i {
  display: inline-block;
  position: relative;
  top: 2px;
  font-style: normal;
}

label span {
  margin-left: 5px;
}

input[type="radio"],
input[type="checkbox"] { display: none; }

input[type="radio"] + i:before,
input[type="checkbox"] + i:before {
  font-family: 'FontAwesome';
  font-size: 20px;
  height: 20px;
  width: 20px;
  display: inline-block;
}

input[type="radio"]:checked + i,
input[type="checkbox"]:checked + i {
  position: relative;
  -webkit-animation: icon-beat 0.1s ease;
  animation: icon-beat 0.1s ease;
}

input[type="radio"]:checked + i + span,
input[type="checkbox"]:checked + i + span {
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

input[type="radio"] + i:before { content: "\f10c"; }

input[type="radio"]:checked + i:before { content: "\f111"; }

/* input[type="radio"]:checked + i + span,
input[type="radio"]:checked + i:before { color: rgba(0, 128, 128, 0.5); } */

input[type="checkbox"] + i:before { content: "\f096"; }

input[type="checkbox"]:checked + i:before { content: "\f046"; }

/* input[type="checkbox"]:checked + i + span,
input[type="checkbox"]:checked + i:before { color: rgba(0, 128, 0, 0.5); } */
