strong {
  display: inline-block;
  padding: 0 7px 16px 7px;
}

form {
  width: 100%;
  flex-wrap: nowrap;

  input {
    margin-top: 8px;
    flex-grow: 1;
  }
  button {
  }
}

ul {
  width: 100%;
  li {
    padding-left: 12px;
    input[type=checkbox] {
      margin-right: 4px;
    }

    &.new-item, &.edit-item {
      padding-left: 21px;
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}

.link {
  margin-left: 10px;
  display: inline-block;
  cursor: pointer;
  width: 18px;
}
.link-add {
  margin-left: 38px;
}
.link-add, .link-save {
  color: #3D82F8;
  &:hover {
    color: #053a95;
  }
}
.link-edit, .link-cancel {
  color: #aaaaaa;
  &:hover {
    color: #555555;
  }
}
.link-delete {
  color: #DB462E;
  &:hover {
    color: #712013;
  }
}
.link-undo {
  margin-left: 0;
  margin-right: 20px;
}

ul li span.done {
  text-decoration: line-through;
}

input[type="radio"] + i,
input[type="checkbox"] + i {
  top: 2px;
  &:before {
    font-size: 20px;
    height: 20px;
    width: 20px;
  }
}
