strong {
  display: inline-block;
  padding: 0 7px 16px 7px;
}

form {
  width: 100%;
  flex-wrap: nowrap;

  input, textarea {
    margin-top: 8px;
    flex-grow: 1;
  }
  textarea {
    height: 38px;
  }
}

i.checkbox {
  vertical-align: top;
  top: 0;
}
.inline-block {
  display: inline-block;
}

ul {
  width: 100%;

  li.list-group-item {
    padding-left: 12px;
    cursor: pointer;

    input[type=checkbox] {
      margin-right: 4px;
    }
    &.new-item, &.edit-item {
      padding-left: 21px;
      padding-top: 0;
      padding-bottom: 0;
    }
    span.complete {
      text-decoration: line-through;
    }
    label {
      margin-bottom: 0;
    }
  }
  &.with-tasks {
    li.new-item {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      border-bottom: 0;
    }
    &.existing-items li:first-child {
      border-top-right-radius: 0;
      border-top-left-radius: 0;
    }
  }
}

.link {
  margin-left: 10px;
  display: inline-block;
  cursor: pointer;
  width: 18px;
}
.link-add {
  margin-left: 38px;
}
.link-add, .link-save {
  color: #007bff;
  &:hover {
    color: #053a95;
  }
}
.link-edit, .link-cancel {
  color: #aaaaaa;
  &:hover {
    color: #555555;
  }
}
.link-delete {
  color: #DB462E;
  &:hover {
    color: #712013;
  }
}
.link-undo {
  margin-left: 0;
  margin-right: 20px;
}
.task-time {
  padding-bottom: 1px;
  position: relative;
  top: 3px;
  margin-right: 4px;
  &.active {
    color: #007bff;
  }
}
#new-time,
#edit-time {
  width: 45px;
  flex-grow: 0.2;
}
