<section class="mx-auto">
  <div class="row">
    <div class="col-6 text-left">
      <strong>{{ this.dateService.date | async | date:'longDate' }}</strong>
    </div>
    <div class="col-6 text-right">
      <strong>{{ this.dateService.date | async | date:'EEEE' }}</strong>
    </div>
  </div>
  <ul class="list-group text-left">
    <li class="list-group-item new-item">
      <form class="form-inline" (ngSubmit)="create()" [formGroup]="formNew">
        <label class="sr-only" for="new-task">New Task</label>
        <input #newTask type="text" formControlName="note" class="form-control mb-2 mr-sm-2" id="new-task" placeholder="New Task" autocomplete="off">
        <a class="link link-add"><fa-icon [icon]="faPlusCircle" (click)="create()"></fa-icon></a>
      </form>
    </li>
  </ul>
  <ul class="list-group text-left" [sortablejs]="tasks" [sortablejsOptions]="sortOptions">
    <li class="list-group-item" [class.edit-item]="editTaskId === task.id" [class.complete]="task.completedAt" [class.selected-item]="false // task.selected" *ngFor="let task of tasks" (click)="toggleSelect(task)">
      <div class="d-flex flex-row" *ngIf="editTaskId !== task.id">
        <div *ngIf="!task.deleted" class="flex-fill">
          <label for="check{{task.id}}">
            <input type="checkbox" id="check{{task.id}}" value="checked" [checked]="task.completedAt ? 'checked' : null" (click)="toggleComplete(task)" />
            <i></i> <span [class.complete]="task.completedAt" [innerHTML]="task.note | linkify"></span>
          </label>
        </div>
        <div *ngIf="!task.deleted" class="flex-end text-nowrap">
          <a class="link link-edit" (click)="edit($event, task)"><fa-icon [icon]="faEdit"></fa-icon></a>
          <a class="link link-delete" (click)="remove($event, task)"><fa-icon [icon]="faTrash"></fa-icon></a>
        </div>
        <span *ngIf="task.deleted" class="flex-end ml-auto">
          Deleted. <a class="link link-undo" (click)="undo($event, task)">Undo</a>
        </span>
      </div>
      <div *ngIf="editTaskId === task.id">
        <form class="form-inline" (ngSubmit)="update($event, task)" [formGroup]="formEdit">
          <label class="sr-only" for="edit-task">Edit Task</label>
          <input #editTask type="text" formControlName="note" class="form-control mb-2 mr-sm-2" id="edit-task" placeholder="Edit Task" autocomplete="off">
          <a class="link link-cancel float-right" (click)="edit($event, null)"><fa-icon [icon]="faTimes"></fa-icon></a>
          <a class="link link-save float-right" (click)="update($event, task)"><fa-icon [icon]="faCheck"></fa-icon></a>
        </form>
      </div>
    </li>
  </ul>
</section>
