<section class="mx-auto">
  <div class="row date-bar">
    <div class="col-6 text-left">
      <span class="current-month">
        <strong>
          {{ dateService.date | async | moment:'MMMM D' }},
        </strong>
      </span>
      <span class="current-year">
        {{ dateService.date | async | moment:'YYYY' }}
      </span>
    </div>
    <div class="col-6 text-right">
      <strong>{{ dateService.date | async | date:'EEEE' }}</strong>
    </div>
  </div>
  <ul class="list-group text-left" [class.with-tasks]="tasks.length > 0">
    <li class="list-group-item new-item">
      <form class="form-inline" (ngSubmit)="create()" [formGroup]="formNew">
        <label class="sr-only" for="new-task">New Task</label>
        <textarea #newTask type="text" formControlName="note" class="form-control mb-2 mr-sm-2" id="new-task" placeholder="New Task" autocomplete="off" (keydown)="onTaskKeyDown($event)" (keyup)="autoGrowTextZone($event)" (keyup.enter)="create()"></textarea>
        <label class="sr-only" for="new-time">Time</label>
        <input type="text" formControlName="time" class="form-control mb-2 mr-sm-2 text-center" id="new-time" placeholder="Time" autocomplete="off" (keyup.enter)="create()">
        <a class="link link-add"><fa-icon [icon]="faPlusCircle" (click)="create()"></fa-icon></a>
      </form>
    </li>
  </ul>
  <ul class="list-group text-left existing-items" [class.with-tasks]="tasks.length > 0" [sortablejs]="tasks" [sortablejsOptions]="sortOptions">
    <li class="list-group-item" [class.edit-item]="editTaskId === task.id" [class.complete]="task.completedAt" [class.selected-item]="false // task.selected" *ngFor="let task of tasks" (click)="toggleSelect(task)" [attr.data-task-id]="task.id">
      <div class="d-flex flex-row" *ngIf="editTaskId !== task.id">
        <div *ngIf="!task.deleted" class="flex-fill">
          <label for="check{{task.id}}" style="width: 100%; margin-top: 3px;" class="d-flex flex-row">
            <input type="checkbox" id="check{{task.id}}" value="checked" [checked]="task.completedAt ? 'checked' : null" (click)="toggleComplete(task)" />
            <i class="checkbox"></i>
            <span class="inline-block" [class.complete]="task.completedAt" [innerHTML]="task.note | linkify | multiline"></span>
          </label>
        </div>
        <span *ngIf="task.time && !task.deleted" class="task-time text-monospace small flex-end text-nowrap" [class.active]="!task.completedAt">
              {{toTime(task.time) | date:'h:mm a'}}
          </span>
        <div *ngIf="!task.deleted" class="flex-end text-nowrap">
          <a class="link link-edit" (click)="edit($event, task)"><fa-icon [icon]="faEdit"></fa-icon></a>
          <a class="link link-delete" (click)="remove($event, task)"><fa-icon [icon]="faTrash"></fa-icon></a>
        </div>
        <span *ngIf="task.deleted" class="flex-end ml-auto">
          Deleted. <a class="link link-undo" (click)="undo($event, task)">Undo</a>
        </span>
      </div>
      <div *ngIf="editTaskId === task.id">
        <form class="form-inline" (ngSubmit)="update($event, task)" [formGroup]="formEdit">
          <label class="sr-only" for="edit-task">Edit Task</label>
          <textarea #editTask formControlName="note" class="form-control mb-2 mr-sm-2" id="edit-task" placeholder="Edit Task" autocomplete="off" (keydown)="onTaskKeyDown($event)" (keyup)="autoGrowTextZone($event)" (keyup.enter)="update($event, task)"></textarea>
          <label class="sr-only" for="edit-time">Time</label>
          <input type="text" formControlName="time" class="form-control mb-2 mr-sm-2 text-center" id="edit-time" placeholder="Time" autocomplete="off" (keyup.enter)="update($event, task)">
          <a class="link link-cancel float-right" (click)="edit($event, null)"><fa-icon [icon]="faTimes"></fa-icon></a>
          <a class="link link-save float-right" (click)="update($event, task)"><fa-icon [icon]="faCheck"></fa-icon></a>
        </form>
      </div>
    </li>
  </ul>
</section>
