table {
  margin-bottom: 25px;
}
td {
  width: 14%;
  padding: 3px !important;
}
.dow {
  font-weight: bold;
}
.date {
  cursor: pointer;
}
.date div {
  padding: 8px;
}
.selected div {
  color: white;
  background-color: #3D82F8;
}
.disabled div {
  opacity: 0.33;
}

.dot {
  margin-left: -8px;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  display: inline-block;
  float: right;
}

.tasks .dot {
  background-color: #DB462E;
}
