table {
  max-width: 600px;
}
td {
  width: 14%;
  padding: 3px;
}
.dow {
  color: #31572C;
  background-color: #eeeeee;
}
.date {
  cursor: pointer;
}
.date div {
  padding: 8px;
}
.active div {
  color: white;
  background-color: #90A955;
}
.selected div {
  color: white;
  background-color: #4F772D;
}
.disabled div {
  opacity: 33%;
}

.dot {
  margin-left: -8px;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  display: inline-block;
  float: right;
}

.tasks .dot {
  background-color: #DC3545;
}
